<%- include('includes/header'); %>
    <h2>Dokument</h2>
    <% docs.forEach(function(doc){ %>
        <h3><a href="/<%= doc.id %>"><%= doc.title %></a></h3>
    <% }); %>

    <br><br>
    <a href="/create">Skapa nytt dokument</a>
<%- include('includes/footer'); %>
